@model List<CustomerManagement.Models.CustomerListItem>

<div class="container mt-5" style="direction: rtl; text-align: right;">

    <h2 class="mb-2" style="color:white; text-align:right;">רשימת לקוחות</h2>
    <div style="width:210px; height:4px; background-color:#FF6A00; margin-bottom:20px; border-radius:2px;"></div>

    <a href="/Customers/Create"
       class="btn"
       style="background-color:#FF6A00; color:white; margin-bottom:15px;">
        ➕ הוסף לקוח חדש
    </a>

    @if (TempData["Success"] != null)
    {
        <div id="successMsg" class="alert alert-success">
            @TempData["Success"]
        </div>

        <script>
            setTimeout(() => {
                document.getElementById("successMsg").style.display = 'none';
            }, 3000);
        </script>
    }

    <div class="card shadow p-3">
        <table class="table table-striped table-hover">
            <thead style="background-color:#1A3C6E; color:white;">
                <tr>
                    <th>שם מלא (עברית)</th>
                    <th>שם מלא (אנגלית)</th>
                    <th>תז</th>
                    <th>עיר</th>
                    <th>בנק</th>
                    <th>סניף</th>
                    <th>חשבון</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        <td>@c.FullNameHeb</td>
                        <td>@c.FullNameEng</td>
                        <td>@c.IdNumber</td>
                        <td>@c.CityName</td>
                        <td>@c.BankName</td>
                        <td>@c.BranchId</td>
                        <td>@c.AccountNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>